@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: remove */
* {
	animation-delay: 1ms !important;
	animation-duration: 1ms !important;
}

html {
	font-family: 'DM Sans';
}

body {
	background: url('./assets/images/body-bg.jpg') center no-repeat;
	background-size: cover;
}

#root {
	width: 100vw;
	min-height: 100vh;
}
